.col-footer-one {
  width: 27%;
}
.col-footer-two {
  width: 20%;
}
.col-footer-three {
  width: 40%;
}
#sectionFooter {
  padding: 20px 0;
  float: left;
  width: 100%;
}
.innerFooter > div {
  padding: 0;
}
.innerMenuFooter h4 {
  font-size: 22px;
  font-weight: bold;
  color: #222;
  margin: 0 0 15px 0;
  line-height: 1.2;
}
.infoCompanyFooter {
  margin: 30px 0;
  font-size: 13px;
}
.contentSubscribe {
  font-size: 13px;
}
.logo-bct img {
  width: 140px;
}
.innerMenuFooter ul li a {
  margin: 0 0 8px 0;
  display: inline-block;
  font-size: 15px;
}
.innerMenuFooter ul li a:hover {
  color: black;
  text-decoration: underline;
}
.socialFooter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  float: left;
  margin: 0;
}
#emailSubscribe {
  height: 36px;
  border: none;
  font-size: 15px;
  outline: none;
  box-shadow: none;
  color: black;
  border-bottom: 2px solid black;
  text-transform: inherit;
  border-radius: 0;
  padding: 10px 0;
}
.newsletter-form {
  position: relative;
  margin: 25px 0 0 0;
}
.btn-newsletter {
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  padding: 5px 10px;
  height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background: transparent;
  outline: none;
}
.btn-newsletter:hover i {
  color: #e29481;
}
.socialFooter {
  display: inline-block;
  width: 100%;
}
.socialFooterIcon {
  float: left;
  margin: 0;
}
.socialFooterIcon li {
  float: left;
  margin: 4px 20px 0 0;
}
.socialFooterIcon a {
  font-size: 25px;
}
.socialFooterIcon a:hover {
  color: #e29481;
}
.innerFooter {
  float: left;
  width: 100%;
}
#footerBottom {
  clear: both;
  border-top: 1px solid #ededed;
  padding: 5px 0;
  float: left;
  width: 100%;
  font-size: 13px;
}
.infoFooterBottom {
  float: left;
  margin-top: 9px;
}
.coppyRight {
  float: right;
  margin: 17px 15px 0 0;
}
.menuMobile img {
  width: 25px;
}
.menuMobile {
  margin: 7px 0 0 20px;
}
.mm-panel .mm-navbar a {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
.mm-panel.mm-hasnavbar .mm-navbar {
  background: black;
}
.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
  border-color: white;
}
.mm-panels > .mm-panel > .mm-listview a {
  text-transform: uppercase;
}
.mm-listview > li:not(.mm-divider):after {
  left: 0;
  border-bottom: 1px dotted #ededed;
}
.mm-listview .mm-next:before {
  border-left: 1px dotted #ededed;
}
#home-news {
  margin-top: 30px;
}
.product-img img {
  display: inline-block;
  width: 100%;
}
.innerHomeBannerCenter {
  background: url(//theme.hstatic.net/200000000133/1000569834/14/homeBannerCenter_1.jpg?v=6336);
  padding: 150px 0;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  cursor: pointer;
}
